!!!5
html
	head
		meta(charset='UTF-8')
		title Document
		link(rel="stylesheet", type="text/css", href="css/main.css")
		meta(name="viewport", content="initial-scale = 1.0, maximum-scale = 1.0, user-scalable = no, width = device-width")
	body
		#wrapper
			.buttons-l
				.section-l
					canvas(id="myCanvas1",  class="canvas-section-e", data-color="#A7DBD8", resize="true")
				.section-l
					canvas(id="myCanvas2", class="canvas-section-e", data-color="#E0E4CC", resize="true")
				.section-l
					canvas(id="myCanvas3", class="canvas-section-e", data-color="#F38630", resize="true")
				.section-l
					canvas(id="myCanvas4", class="canvas-section-e", data-color="#FA6900", resize="true")
				.section-l
					canvas(id="myCanvas5", class="canvas-section-e", data-color="#C02942", resize="true")
				.section-l
					canvas(id="myCanvas6", class="canvas-section-e", data-color="#542437", resize="true")
				.section-l
					canvas(id="myCanvas7", class="canvas-section-e", data-color="#53777A", resize="true")
				.section-l
					canvas(id="myCanvas8", class="canvas-section-e", data-color="#ECD078", resize="true")

			//- .section-l
			//- 	canvas(id="myCanvas9", class="canvas-section-e", data-color="#ECD078")
			//- 	.icon-e
			//- .section-l
			//- 	canvas(id="myCanvas10", class="canvas-section-e", data-color="#FE4365")
			//- 	.icon-e
			//- .section-l
			//- 	canvas(id="myCanvas11", class="canvas-section-e", data-color="#FC9D9A")
			//- 	.icon-e
			//- .section-l
			//- 	canvas(id="myCanvas12", class="canvas-section-e", data-color="#F9CDAD")
			//- 	.icon-e
			//- .section-l
			//- 	canvas(id="myCanvas13", class="canvas-section-e", data-color="#C8C8A9")
			//- 	.icon-e
			//- .section-l
			//- 	canvas(id="myCanvas14", class="canvas-section-e", data-color="#490A3D")
			//- 	.icon-e
			//- .section-l
			//- 	canvas(id="myCanvas15", class="canvas-section-e", data-color="#E97F02")
			//- 	.icon-e
			//- .section-l
			//- 	canvas(id="myCanvas16", class="canvas-section-e", data-color="#F8CA00")
			//- 	.icon-e
			//- .section-l
			//- 	canvas(id="myCanvas17", class="canvas-section-e", data-color="#8A9B0F")
			//- 	.icon-e
			//- .section-l
			//- 	canvas(id="myCanvas18", class="canvas-section-e", data-color="#D1F2A5")
			//- 	.icon-e
			//- .section-l
			//- 	canvas(id="myCanvas19", class="canvas-section-e", data-color="#FFC48C")
			//- 	.icon-e
			//- .section-l
			//- 	canvas(id="myCanvas20", class="canvas-section-e", data-color="#FF9F80")


		script(type="text/javascript", src="js/lib/jquery-2.0.1.js")
		script(type="text/javascript", src="js/iscroll.js")
		script(type="text/javascript", src="js/modernizr.js")
		script(type="text/javascript", src="js/tween.min.js")
		script(type="text/javascript", src="js/dat.gui.min.js")
		script(type="text/javascript", src="js/paper.js")
		script(type="text/paperscript", src="js/main.js", canvas="myCanvas0")
		script(type="text/paperscript", src="js/main.js", canvas="myCanvas1")
		script(type="text/paperscript", src="js/main.js", canvas="myCanvas2")
		script(type="text/paperscript", src="js/main.js", canvas="myCanvas3")
		script(type="text/paperscript", src="js/main.js", canvas="myCanvas4")
		script(type="text/paperscript", src="js/main.js", canvas="myCanvas5")
		script(type="text/paperscript", src="js/main.js", canvas="myCanvas6")
		script(type="text/paperscript", src="js/main.js", canvas="myCanvas7")
		script(type="text/paperscript", src="js/main.js", canvas="myCanvas8")
		//- script(type="text/paperscript", src="js/main.js", canvas="myCanvas9")
		//- script(type="text/paperscript", src="js/main.js", canvas="myCanvas10")
		//- script(type="text/paperscript", src="js/main.js", canvas="myCanvas11")
		//- script(type="text/paperscript", src="js/main.js", canvas="myCanvas12")
		//- script(type="text/paperscript", src="js/main.js", canvas="myCanvas13")
		//- script(type="text/paperscript", src="js/main.js", canvas="myCanvas14")
		//- script(type="text/paperscript", src="js/main.js", canvas="myCanvas15")
		//- script(type="text/paperscript", src="js/main.js", canvas="myCanvas16")
		//- script(type="text/paperscript", src="js/main.js", canvas="myCanvas17")
		//- script(type="text/paperscript", src="js/main.js", canvas="myCanvas18")
		//- script(type="text/paperscript", src="js/main.js", canvas="myCanvas19")
		//- script(type="text/paperscript", src="js/main.js", canvas="myCanvas20")
		script(type="text/javascript", src="js/after.js")
